fastapi
uvicorn[standard]
motor==3.3.1
pymongo==4.6.3
redis
elasticsearch[async]>=8.15,<9
python-jose[cryptography]
scikit-learn
numpy
httpx
pydantic
pydantic-settings
python-dotenv
pytest
prometheus-fastapi-instrumentator
sentry-sdk
